 
<%  num=Integer(params["num"])
 %>


<h1> Edit <%= $courses[num]['title'] %></h1>
 <li><%= $courses[num]['title'] %></li>
 
<%=  form_tag({:action => 'update'} ,  method: :get ) %>
 <%= text_field_tag "num#{num}", num %>

  <%= text_field_tag 'title', $courses[num]['title'] %>
 <div><%= submit_tag 'Save' %></div>

	
<a href="edit_lessons?num=<%= num %>">Edit <%= $courses[num]['title'] %> lessons</a>

 
